node_modules/
.next/

# Build outputs
dist/
build/
coverage/
*.log
.env*
.DS_Store
Thumbs.db
.vscode/
.idea/
*.tmp
*.swp
/frontend/storybook-static/
next-env.d.ts


# TypeScript incremental buildinfo
*.tsbuildinfo
tsconfig.tsbuildinfo
/projects/

# Local development and testing
experiments-nopush/